.hire-cont{
    background-color:black;
    flex:1;
    width: 100%;
    height:100vh;
    overflow: hidden;
  

    
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}




.temp-where{
    color:white;
}
.hire_over_cont{
    overflow:hidden;
    
}
.hire_header2{
    display: flex;
    justify-content:center;
    align-items: center;
    color:gray;
    background-color: black;
    margin-bottom: auto;
   
 
  
    padding:5px;
   
    


}
.temp-icon2{
    margin-left:7px;
    width: 50px;
    height:50px
}
.temp-icon3{
    margin-left: auto;
    width: 300px;
    height: 300px;
    margin-top:150px;
 
}
.hire_home_image{
   display: flex;
}

.hire_home_cont{
    margin-top:80px;
    height: auto;
    letter-spacing: 3px;
    background-color: black;
}
.hire_home_btns{
    display:flex;

   
    width: 350px;
    background-color: black;
    justify-content: space-around;
     
    flex-direction:row;
}
.hire_home_image{
    margin-left:auto;
}
.hire_home_cont>h4{
    background:-webkit-linear-gradient(rgb(40, 70, 151),rgb(192, 187, 187));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:90px;
    font-weight: 400;
}
.hire_home_cont{
    margin-left: 6px;
    margin-bottom: 40px;

}
.hire_home_desc>p{
    color: white;
}
.hire_home_desc{
    max-width: auto;
}
@media screen and (min-width: 768px){
    .hire_home_desc{
      
        width:600px;
    }
    .hire-cont{
        display: flex;
    }

}
@media screen and (max-width: 768px){
    .hire-cont{
        background-color: black;
    }
    .hire_home_cont>h4{
    font-weight: 200;    
    }
    .hire_home_cont{
        margin-left: 46px;}

  
}

.hire_home_startbtn{
    background:linear-gradient(rgb(14, 65, 143),rgb(252, 252, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid -webkit-linear-gradient(rgb(40, 70, 151),rgb(192, 187, 187));
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    color:white;
    margin-top: 20px;
    border-radius: 30px;
    touch-action: manipulation;

}
.hire_home_demobtn{
    background:linear-gradient(rgb(14, 65, 143),rgb(252, 252, 252));
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid -webkit-linear-gradient(to right,rgb(122, 18, 91) 60%,rgb(146, 31, 60));
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    margin-top: 20px;
    color:white;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}
