.sidebar{
    display:flex;
    flex-direction: column;
    width:100px;
    border-radius: 30px;
    height:100vh;
    background: color black;

}
@media screen and (max-width:768px) {
    .sidebar{
        display:none;
    }
    
}

.sidebar__top{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    background-color:black;
    color:white;
    border-bottom: 1px solid grey;


}
.sidebar_header{
    display:flex;
    align-items: center;
}
.sidebar_content{
    background-color:black;
    flex:1;

}
.sidebar_add{
    cursor: pointer;

}

.sidebar_contentHeader{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    background-color:black;
    color:gray;

}.sidebar_infoicon{
    color: wheat;
}
.sidebar_infoicons> .MuiSvgIcon-root{
    padding: 10px;

}
.sidebar_profile{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    padding:10px;
    flex-direction: row;
    

}
.sidebar_add:hover{
    color:white;
}
.sidebar_contentList{
    margin-top: -10px;
}
.sidebar_info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:gray;
    background-color: black;
    padding:10px;
    border-top: 1px solid gray;
}
.sidebar_contentinfo{
    flex:1;
    padding:10px;
}


.sidaber_profileinfo>p{
    font-size: smaller;
    margin-top: -20px;
}
.sidaber_profileinfo{
    flex:1;
    padding:10px;

}
.sidebar_profileinfoicons>.MuiSvgIcon-root{
    padding: 10px;

}