.sidebarcontent_hash:hover{
    color:white;
    background-color: #40464b;
}
.sidebarcontent{
    background-color: black;
    display: flex;
    flex:1;
}
.sidebarcontent>h4{
    display: flex;
    padding-left: 15px;
    align-items:center;
    background-color:black;
    color:gray;
    cursor: pointer;


}
.sidebarcontent_hash{
    font-size: 20px;
    padding:8px;

}
.sidebarcontent{
    display: flex;
    flex-direction:column;
 
}
.side-nav{
 
   
    flex:1;
    margin-top: 70px;

   
    display: flex;
    flex-direction:column;
    


}

@media screen and (max-width: 768px){
    .side-nav{
       display:none;
      
    }
}
