.nav{
    height: 500px;
    background: rgb(207, 228, 228);
    padding: 20px;
    align-items: center;    
    
}
.cards{
    width: 200px;
    margin-left: 50px;

    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 25px;
    margin: auto;
    

}
.cards-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    
 
}
.skeleton-cont{
    display: flex;
    flex-direction:row;
    margin-left: 110px;
}
.featured-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
ul{
    
    color: rgb(67, 66, 66);
    font-weight: 500;
}
.featured-head{
    font-family: "monospace",Roboto,Arial,sans-serif;
    color: rgb(67, 66, 66);
    font-weight: 500;
}
.career-data{
    color: #000;
}
.body{
    display: flex;
    justify-content: center;
    margin: 0;
}
.hr{
    width: 90%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.2;
}
a{
    text-decoration:none;
    color: rgb(67, 66, 66);
    font-weight: 500;

}
a:hover{
    color: rgb(200, 120, 120);
}
.twitter{
    margin-right: 20px;
}
@media screen and (max-width: 768px) {

    .line,.career-data {display: none;}
    .start-btn{ margin-right: 0px;
    }
    .cards-cont{
        flex-direction: column;
        width: 50%;
    margin: auto;

    }
    .skeleton-cont{
        flex-direction: column;
        width: 50%;
        margin-left: -10px;
    
       


    }
    
    
    }
.home-image{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-top: 30px;

}
.list-one{
    
    display: flex;
    font-size: 14px;
    line-height: normal;
    flex-direction: row;
    margin-bottom: 10px;
    align-content: space-around;
    padding-top: 150px;
    
  
}
.all{
    margin: 0;
}
.main-icon{
    
    margin-right: auto;
}
.start-btn{
    margin-right: 20px;
    border-radius: 10px;
    opacity: 9;
    background-color:  rgb(207, 228, 228);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-style: none;
    border-color: white;
    height: 40px;
    width: 130px;
    cursor:pointer;
    align-items: center;
    color: black;
  
    
}
.avatar-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.auth-intro{
    margin-top: 20px;
    font-family:Verdana;
   
    text-align: center;
}
.auth-intro2{
    font-family:Verdana;
   
    text-align: center;
}
.img-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    

}
button:hover{
    box-shadow:rgba(226, 220, 215, 0.14);
}
.list-zero{
    
    display: flex;
    align-items: center;
    height: 65px;

    
}
.home-img{
    width: 300px;
    height: 215px;
}