
.papperStyle{
    padding:20px;
    height:50vh;
    width:350px;
    margin:auto;
    margin-top:50px;
}

.login-image-cont{
  display:flex;
  margin-top:100px;
  justify-content:center;
  align-items:center;


}
@media screen and (max-width: 768px){
.login-cont{
  margin:auto;
  margin-top: 100px;
  margin-bottom: 40px;
  max-width: 400px;
 


} 
.login-text{
  margin-top: 70px;
}

.papperStyle{
    width:200px

}
.bg-image{
  display:none;
}
}
@media screen and (min-width: 768px){
  .login-cont{
    margin-bottom:40px;
    max-width: 400px;
    margin-top: 30px;
    max-height: 750px;
    margin-left: 200px;
    
    

}
.main-icons{
  margin-bottom: 20px;
}
.login-container{
  display:flex;
  flex-direction: grid;
  width: 100%;
  max-height:auto;
  overflow:hidden;


}
.bg-image{
  max-width: 450px;
  margin-left:auto;
  height:100%;
  flex:1;
  position: relative;
  bottom: 0px;
  top: 0px;
  

}

}
.customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 400px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  margin-top: 20px;

  }
.customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('../../public/assets/google.svg') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 32px;
  }
  span.icon-github {
    background: url('../../public/assets/github.svg') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 32px;
  }
  span.icon-apple {
    background: url('../../public/assets/mac.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 32px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: left;
    padding-left: 42px;
    padding-right: 0px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
