.content{
    display: flex;
    flex-direction:column;
    flex:1;
    overflow:hidden;
    height:calc(100vh-50px);
   
    background-color:white
    

}
@media screen and (max-width: 768px){
    .content{
    display: flex;
    flex-direction:column;
    flex:1;
    height:100vh;
    background-color:white
    

}


    
.bottom-nav{
    box-shadow: 0px 0px 2.2px 1.4px grey;
    position:relative;
    margin-top:auto;
    height: 70px;
}
}

@media screen and (min-width: 768px){
    .bottom-nav{
       display: none;
      
    }
    .bottom-nav-icon{
        margin-top: 20px;
    }
    .topics-selec{
        display: none;

    }
 

}
.add_communityBtn{
    display: flex;
  margin:auto;
  margin-top: 10px;
  justify-content:center;
  align-items: center;
    
}
.community_container{
    margin: auto;
    display: flex;
    flex-direction:column;
   
}
.community_text{
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}
.community__nav_top{
    display:flex;
    justify-content: left;
    margin-top: 10px;

    flex-direction: row;
    color:black;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color:white;


    
}
.community__nav_txt{
    margin-left: 20px;
   
}
.add__community__btn{
    display: flex;
    position:relative;
    margin-top:auto;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: 30px;
    box-shadow: 0px 0px 2.2px 1.4px ;
    cursor: pointer;
    flex-direction:row;
    height:50px;
    width:50px;
   
    text-align: center;
    justify-content:center;
    border-radius: 50%;
    font-weight: bold;
    color:white;
    background-color:black;
}
.search__input{
    color:rgb(73, 73, 73);
    display: flex;
    margin-top:20px;
    height:20px;
    align-items: center;
    justify-content: center;
    padding: 5px;

  
       background-color: white;
}
.search__input > form > input{
    
    background:grey;
    border:none;
    outline-width: 0;
    color:white;
    font-size: large;
    height: 20px;
    width: 97%;
    border-radius: 7px;
    
}
.search__input > form{
    flex:1;
}