.content_header{
    display: flex;
    justify-content:center;
    align-items: center;
    color:gray;

    padding:10x;
    margin-top: -24px;

    width:100%;
    flex:1;
    position: relative;
    background-color:white;
    margin-bottom: auto;

    

}
.bar-header{
    box-shadow: 0px 0px 2.2px 1.4px grey;
    width: 100%;
  
}
.content_headerleft>h3{
    display:flex;
    align-items: center;
    margin-left:20px;
    margin-top: 30px;
    color:black;

}

@media screen and (max-width: 768px){
  .bar-header{
       height:6vh;
  }   
}
.content_headerright{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    overflow:hidden;
    width:auto;
 

}
.dash-icon{
    margin-left: 10px;
    
   
}
.sidebar_profile{
    display: flex;
    flex-direction: row;
}
