.container-footer{
    display: flex;
    flex-grow: 1;
    height: 80px;
    background-color:rgb(207, 228, 228);
    justify-content: right;
    margin-left: auto;
    font-size: 12px;
    margin-bottom: 0px;
 

}
.footer-qoute{
    margin-right: 500px;
}
.footer{
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: black;
    justify-content: left;
    align-items: left;
    text-decoration: none;
}
.auth-role{
    font-family: "monospace",Roboto,Arial,sans-serif;
}
@media screen and (max-width: 768px) {
   .footer-qoute{
       display: none;
   }
   
   .container-footer{
    justify-content: left;
       height: 200px;
   }
   .footer{
   
       flex-direction: column;
   }
   .auth-role{
       font-size: 12px;
   }
    
    }
.footer-auth{
    margin-top: -1px ;
    margin-bottom: -2px;
}
.footer-auth:hover{
    color:rgb(200, 120, 120);
    cursor: pointer !important;

}
.auth-tool{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family:serif;
    color: gray;

}
.auth-name{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 29px;
    font-weight: bold;
    color: #212121;
}
