.featured-stories{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    line-height: 25px;
    margin-left: 50px;
    margin-top: 15px;
    cursor: pointer;
    padding: 20px;
 


}
@media screen and (min-width: 768px) {
    .featured-stories{
        margin-left: 5px;

    }

    
}
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgb(14, 11, 8) 0 3px 5px -1px;
}
.profile-descr{
    display: flex;
    flex-direction: row;

}
.profile-dets{
    margin-top: -75px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.container-cards{
    cursor: pointer;
    width: 200px;
    margin-left: 5px;

    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 25px;
    margin: auto;

    
    
   
}
.story-pic{
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

}
.story-pic:hover{
    box-shadow: rgb(252, 251, 251) 0 3px 5px -1px;

}
.NewsLetter{
    border: 6;
    width: 50%;
    height: 250px;
}
.story-cont1{
    width: 350px;
    
}
.story-pic{
    width: 300px;
    height: 215px;
}
.story-heading{
    font-family: "monospace",Roboto,Arial,sans-serif;

}
@media screen and (max-width: 768px) {



    .container-cards{ flex-direction: column;
    width: 50%;
margin: auto;}
}
.descr{
    color: gray;
}
.profile-date{
    margin-top: -23px;
    font-family:monospace;
    font-weight: 400;
    font-size: 12px;
}
.profile-name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
}